name: Run job every 5 minutes

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:  # allow manual run

jobs:
  run-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          fi

      - name: Execute script
        env:
          PWD: ${{ secrets.PWD }}
        run: |
          python main.py
